bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/TaskManager.Application/bin/
/TaskManager.Communication/bin/
.DS_Store
.idea/
TaskManager.API/Program.cs
TaskManager.API/Properties/
TaskManager.API/TaskManager.API.csproj
TaskManager.API/TaskManager.API.http
TaskManager.API/appsettings.Development.json
TaskManager.API/appsettings.json
TaskManager.Application/.DS_Store
TaskManager.Application/TaskManager.Application.csproj
TaskManager.Communication/.DS_Store
TaskManager.Communication/TaskManager.Communication.csproj
